





<!--       HEADER    SECTION   STARTS        ---------------------------------------------------------------------------->

<header>
  <div id="li-recHeader">
    <div class="container">
      <nav class="navbar navbar-dark navbar-expand-md">
        <a class="navbar-brand" style="font-size: 30px" href="" title="li-Rec">
          <span>li</span>-Rec
        </a>
        <h3 class="navbar-nav ml-auto"><i class="fas fa-gamepad p-1" style=" color: whitesmoke"></i> Connect - Click - Stream<i class="fas fa-broadcast-tower p-1" style="color: whitesmoke"></i></h3>
      </nav>
    </div>
  </div>
</header>

<!--       HEADER    SECTIONJ   ENDS         ---------------------------------------------------------------------------->





<!--       FIRST     SECTION    STARTS       ---------------------------------------------------------------------------->

<section class="top-intro-section pt-5 pb-3">
  <div class="container pt-5">
    <div class="row align-items-center">
      <div class="col-md-5">
        <h2>Welcome to, li-Rec</h2>
        <h5>
          We happy to welcome you, This is a llve streaming platform, where you
          can stream through social medias YOUTUBE, FACEBOOK, INSTAGRAM...
        </h5>
        <br />

        <img class="img-fluid" src="../assets/image/li brand logo.png" />
      </div>

      <div class="col-md-7">
        <img class="img-fluid" src="../assets/image/gamingimg.jpg" />
      </div>
    </div>
  </div>
</section>

<!--      FIRST      SECTION    ENDS         ---------------------------------------------------------------------------->






<!--      SECOND     SECTION    STARTS       ---------------------------------------------------------------------------->

<section class="instruction-section pt-3 pb-3">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-12">
        <h3>"Follow the instruction regarding for streaming"</h3>
        <ol>
          <li>Connect your mobile to the computer via USB cable</li>
          <li>
            And then click the connect button, located near the video screen
          </li>
          <li>
            When your mobile is started broadcasted in the monitor, you are
            ready
          </li>
          <li>Now you can stream your loved social medias</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!--      SECOND      SECTION    ENDS        ---------------------------------------------------------------------------->





<!--      VIDEO-VIEWING     SECTION     STARTS      --------------------------------------------------------------------->

<section class="video-viewing-section pt-3 pb-3">
  <div class="container pt-5 pb-5">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h2>"STREAMING ZONE"</h2>
        <video id="gum-local" autoplay playinline></video>
      </div>
    </div>
  </div>
</section>

<!--      VIDEO-VIEWING     SECTION     ENDS      ----------------------------------------------------------------------->





<!--      FOOTER      SECTION    STARTS      ---------------------------------------------------------------------------->

<footer class="full-footer">
  <div class="container top-footer p-md-3">
    <div class="row">
      <div class="col-md-4 text-center">
        <div id="about us">
          <h3
            style="color: #ff7800; font-size: 25px; text-shadow: 0 0 7px black"
            class="nav-link"
            title="About Us"
          >
            About Us
          </h3>
          <span>"li-Rec"</span>
          <p>
            This is a "Live Streaming Platform", Where you can Stream
            independently through social medias like "YOUTUBE, FACEBOOK,
            INSTAGRAM".
          </p>
          <h3>Follow Us On:</h3>
          <a
            style="color: silver"
            class="p-1"
            href="https://www.facebook.com/Li-Rec-114590060390195"
            title="Facebook"
            ><i class="fab fa-2x fa-facebook-square"></i
          ></a>
          <a
            style="color: silver"
            class="p-1"
            href="https://www.instagram.com/lirecinc/"
            title="Instagram"
            ><i class="fab fa-2x fa-instagram"></i
          ></a>
          <a
            style="color: silver"
            class="p-1"
            href="https://twitter.com/LiRec5"
            title="Twitter"
            ><i class="fab fa-2x fa-twitter-square"></i
          ></a>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div id="contactus">
          <h3
            style="color: #ff7800; font-size: 25px; text-shadow: 0 0 7px black"
            class="nav-link"
            title="Contact Us"
          >
            Contact US
          </h3>
          <p>Any issues in our application, (24 X 7) service is available..</p>
          <a
            style="color: silver"
            href="mailto:lirecind@gmail.com"
            title="Mail to (li)"
            ><i class="fas fa-envelope"></i> li-Rec official</a
          ><br />
          <a style="color: silver" href="tel:+917094267628" title="whatsapp Us"
            ><i class="fas fa-phone"></i> +(91)7094267628</a
          >

          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62281.88239553578!2d79.96237248481569!3d12.673056239195063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52fc650e6e057b%3A0x55352b7042976327!2sChengalpattu%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1600411101334!5m2!1sen!2sin"
              width="600"
              height="450"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div id="supportus">
          <h3
            style="color: #ff7800; font-size: 25px; text-shadow: 0 0 7px black"
            class="nav-link"
            title="Support Us"
          >
            Support Us
          </h3>
        </div>
        <span>"Give us a small support"</span>
        <p>
          If you love our work and wanna more services in the future,<br />Support
          our team!..
        </p>
        <h3>GPAY/PAYTM, PAYPAL</h3>
        <a
          style="
            color: silver;
            font-size: 1.1rem;
            font-weight: 600;
            text-shadow: 0 0 4px black;
          "
          href="#"
          title="Google pay"
          >Gpay: +(91) 7094267628</a
        ><br />
        <a
          style="
            color: silver;
            font-size: 1.1rem;
            font-weight: 600;
            text-shadow: 0 0 4px black;
          "
          href="#"
          title="PayTm"
          >Paytm: +(91) 7094267628</a
        ><br />
        <a
          style="
            color: silver;
            font-size: 1.1rem;
            font-weight: 600;
            text-shadow: 0 0 4px black;
          "
          href="https://paypal.me/patsyprathap?locale.x=en_GB"
          title="PayPal"
          >PayPal: @li-Recofficial</a
        >
      </div>
    </div>
  </div>

  <div class="container-fluid bottom-footer pt-2">
    <div class="row">
      <div class="col-12 text-center">
        <p>Copyright © 2020-All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<!--      FOOTER      SECTION    ENDS        ---------------------------------------------------------------------------->

<router-outlet></router-outlet>
